<div class="box box--author">

  {% if author.gravatar %}
  <figure class="author-image">
    <div class="img" style="background-image: url({{ author.gravatar }})">
      <span class="hidden">{{ author.name }}'s Picture</span>
    </div>
  </figure>
  {% endif %}

  <div class="box__body">

    <h4 class="box__title">
      {{ author.name }}
    </h4>

    {% if author.bio %}
    <p class="box__text">{{ author.bio }}</p>
    {% endif %}

    <div class="author-meta box__text">

      {% if author.facebook_username %}
      <div class="author-link inline-block">
        <a href="https://www.faceboom.com/{{ author.facebook_username }}" target="_blank">
          <span data-icon="ei-sc-facebook" data-size="s"></span>
        </a>
      </div>
      {% endif %}

      {% if author.twitter_username %}
      <div class="author-link inline-block">
        <a href="https://www.twitter.com/{{ author.twitter_username }}" target="_blank">
          <span data-icon="ei-sc-twitter" data-size="s"></span>
        </a>
      </div>
      {% endif %}

      {% if author.github_username %}
      <div class="author-link inline-block">
        <a href="https://www.github.com/{{ author.github_username }}" target="_blank">
          <span data-icon="ei-sc-github" data-size="s"></span>
        </a>
      </div>
      {% endif %}

      {% if author.linkedin_name %}
      <div class="author-link inline-block">
        <a href="https://www.linkedin.com/in/{{ author.linkedin_name }}" target="_blank">
          <span data-icon="ei-sc-linkedin" data-size="s"></span>
        </a>
      </div>
      {% endif %}

      {% if author.email %}
      <div class="author-link inline-block">
        <a href="mailto:{{ author.email }}" target="_blank">
          <span data-icon="ei-envelope" data-size="s"></span>
        </a>
      </div>
      {% endif %}

      {% if author.website %}
      <div class="author-link inline-block">
        <a href="{{ author.website }}">
          <span data-icon="ei-link" data-size="s"></span>
        </a>
      </div>
      {% endif %}
    </div>

  </div><!-- box__body -->

</div><!-- box -->

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
</style>
<div id="mc_embed_signup">
<form action="https://ninja.us4.list-manage.com/subscribe/post?u=b7e7ae4a6d8a5b371606caeee&amp;id=3615c41148" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank_" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Get updated on my new games :)</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b7e7ae4a6d8a5b371606caeee_3615c41148" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
