<article class="post-card-wrap column medium-6 large-4">

  <div class="post-card">

    <a href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="block" title="{{ post.title }}">
      <div class="lazy grey-bg post-card__image CoverImage FlexEmbed FlexEmbed--16by9" data-src="{{ post.image | prepend: site.baseurl }}">
        {% if post.featured %}
          <span title="Featured Post">
            <span class="post-card--featured__icon" data-icon="ei-star" data-size="s"></span>
          </span>
        {% endif %}
        <span role="img" aria-label="{{ post.title }}"> </span>
      </div>
    </a>

    <div class="post-card__meta">
      <span class="post-card__meta__date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>

    <h2 class="post-card__title">
      <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <div class="post-card__meta">
      <span class="post-card__meta__date">{{ post.subtitle }}</span>
    </div>

  </div>
</article>
